/* Start initial styles */

body {
  height: 100vh;
  font-family: 'Khula', sans-serif;
  overflow: hidden;
  margin: 0 8px;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
